#library {
  padding: 20px;
  border-spacing: 40px;
}

td {
  border: 1px solid black;
  padding: 20px;
  margin: 50px;
  border-radius: 5%;
  box-shadow: 5px 5px 2px 1px rgba(0, 0, 255, .2);
  background: lightskyblue;
}

.delete {
  font-size: 20px;
  color: gray;
  padding: 5px;
}

.delete:hover {
  cursor: pointer;
  color: red;
}